{% extends 'base.html' %}
{% load static %}
{% block title %}About Us |Tour & Travel Packages in Kerala |Kerala Tours Planner{% endblock %}
{% block meta_description %}
<meta content="The top Kerala travel deals, including houseboats, hill stations, and beach trips, are given at Kerala Tours Planner.  Follow us to explore Kerala's beauty!" name="description">
{% endblock %}
{% block content %}


        <div class="container-fluid" 
     style="background: linear-gradient(rgba(23, 23, 24, 0.5), rgba(23, 23, 24, 0.5)), 
            url('{% static "img/s5.jpg" %}');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            padding: 150px 0 50px;">
  

            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">ABOUT US</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a style="color: #fff!important;" href="{% url 'index' %}">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                    <li class="breadcrumb-item active" style="color: #b1a4a4;">About</li>
                </ol>    
            </div>
        </div>



        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="h-100" >
                            <img src="{% static 'img/s5.jpg' %}" class="img-fluid w-100 h-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                        <h5 class="section-about-title pe-3" style="color:#3d5e53;">About Us</h5>
                        <h1 class="mb-4">Welcome to <span class="" style="color: #3d5e53;">Kerala Tours Planner</span></h1>
                        <p class="mb-4">At Kerala Tours Planner, we bring you the essence of Kerala's serene beauty with warm hospitality, comfortable stays, and breathtaking views. Whether you're here to relax or explore, we ensure a memorable experience.</p>
                        <p class="mb-4">Enjoy a perfect blend of comfort and adventure with our handpicked accommodations, personalized services, and curated experiences that showcase the best of nature and culture.</p>
                        <div class="row gy-2 gx-4 mb-4">
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right  me-2" style="color: #0a583d;"></i>Scenic Tea Plantation Views</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right  me-2" style="color: #0a583d;"></i>Homely and Comfortable Stays</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right  me-2" style="color: #0a583d;"></i>Delicious Local Cuisine</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right  me-2" style="color: #0a583d;"></i>Reliable Vehicle Services</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right  me-2" style="color: #0a583d;"></i>Exciting Sightseeing Packages</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right  me-2" style="color: #0a583d;"></i>24/7 Assistance</p>
                            </div>
                        </div>
                        <!-- <a class="btn  rounded-pill py-3 px-5 mt-2" style="background-color: black; border-color: black; color: #fff;" href="{% url 'about' %}">Read More</a> -->
                    </div>
                    
                </div>
            </div>
        </div>

       

<div class="container-fluid ExploreTour py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Services</h5>
                    <h1 class="mb-4">Our Services</h1>
                    <p class="mb-0">
                        At Kerala Tours Planner, we offer a range of services to make your trip to Kerala unforgettable. From cozy accommodations to curated experiences, our services are designed to ensure a comfortable and memorable stay.
                    </p>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
              
            </ul>
            <div class="tab-content">
                <div id="NationalTab-1" class="">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="{% static 'img/se1.jpg' %}" class="img-fluid w-100 rounded" style="height: 350px; object-fit: cover;" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Hotel Bookings</h5>
                                        <p class="text-white" style="text-align: left; font-size: 16px;">Experience comfortable stays in our well-furnished rooms with stunning tea mountain views.</p>
                                   
                                    </div>
                                </div>
                                <div class="national-plus-icon">
                                    <a href="https://wa.me/ADD_YOUR_NUMBER_HERE" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="{% static 'img/se2.jpg' %}" class="img-fluid w-100 rounded" style="height: 350px; object-fit: cover;" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Flight Bookings</h5>
                                        <p class="text-white" style="text-align: left; font-size: 16px;">Domestic and international flights, One-way, round trip, and multi-city bookings.</p>
                                        
                                    </div>
                                </div>
                                <div class="national-plus-icon">
                                    <a href="https://wa.me/ADD_YOUR_NUMBER_HERE" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="{% static 'img/se3.jpg' %}" class="img-fluid w-100 rounded" style="height: 350px; object-fit: cover;" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Holiday Packages</h5>
                                        <p class="text-white" style="text-align: left; font-size: 16px;">Customized vacation packages for domestic and international destinations, Themed tours (Honeymoon, family, beach holidays, etc.).</p>
                                    
                                    </div>
                                </div>
                       
                                <div class="national-plus-icon">
                                    <a href="https://wa.me/ADD_YOUR_NUMBER_HERE" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="{% static 'img/seee.jpg' %}" class="img-fluid w-100 rounded" style="height: 350px; object-fit: cover;" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Cabs and Local Transfers</h5>
                                        <p class="text-white" style="text-align: left; font-size: 16px;">Airport transfers, city tours, and intercity travel, Car rentals with driver for a day or multiple days.</p>
                                    
                                    </div>
                                </div>
                                <div class="national-plus-icon">
                                    <a href="https://wa.me/ADD_YOUR_NUMBER_HERE" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="{% static 'img/se5.jpg' %}" class="img-fluid w-100 rounded" style="height: 350px; object-fit: cover;" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Activities and Experiences</h5>
                                        <p class="text-white" style="text-align: left; font-size: 16px;">Adventure activities (trekking, safaris, water sports), Cultural and sightseeing tours.</p>
                                     </div>
                                </div>
                                <div class="national-plus-icon">
                                    <a href="https://wa.me/ADD_YOUR_NUMBER_HERE" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="{% static 'img/se6.jpg' %}" class="img-fluid w-100 rounded" style="height: 350px; object-fit: cover;" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Train and Bus Rentals</h5>
                                        <p class="text-white" style="text-align: left; font-size: 16px;">Book trains or buses for group travel or tours.</p>
                                    </div>
                                </div>
                                <div class="national-plus-icon">
                                    <a href="https://wa.me/ADD_YOUR_NUMBER_HERE" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="container-fluid testimonial py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Testimonial</h5>
                    <h1 class="mb-0">Our Clients Say!!!</h1>
                </div>
                <div class="testimonial-carousel owl-carousel">
                    {% for review in reviews %}
                    <div class="testimonial-item text-center rounded pb-4">
                        <div class="testimonial-comment bg-light rounded p-4">
                            <p class="text-center mb-5">{{ review.review }}</p>
                        </div>
                        <div class="testimonial-img p-1">
                            <img src="{{ review.client_image.url }}" style="object-fit: cover; width: 100PX; height: 90PX;" class="img-fluid rounded-circle" alt="Image">
                        </div>
                        <div style="margin-top: -35px;">
                            <h5 class="mb-0">{{ review.client_name }}</h5>
                            <p class="mb-0">{{ review.designation }}</p>
                            <div class="d-flex justify-content-center">
                                <i class="fas fa-star" style="color: #FDB515;"></i>
                                <i class="fas fa-star"style="color: #FDB515;"></i>
                                <i class="fas fa-star "style="color: #FDB515;"></i>
                                <i class="fas fa-star " style="color: #FDB515;"></i>
                                <i class="fas fa-star "style="color: #FDB515;"></i>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
{% endblock %}
