{% extends 'base.html' %}
{% load static %}
{% block title %} {{ blog.name }} Details{% endblock %}
{% block content %}


       
        <div class="container-fluid" 
        style="background: linear-gradient(rgba(23, 23, 24, 0.5), rgba(23, 23, 24, 0.5)), 
               url('{{ blog.image.url }}');
               background-position: center center;
               background-repeat: no-repeat;
               background-size: cover;
               background-attachment: fixed;
               padding: 150px 0 50px;">
    
   
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">{{ blog.name }}</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a style="color: #fff!important;" href="{% url 'index' %}">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                    <li class="breadcrumb-item active " style="color: #b1a4a4;">{{ blog.name }} Details</li>
                </ol>    
            </div>
        </div>



        
        <section class="section section-lg bg-light">
            <div class="container">
                <div class="row">
                    <!-- Main Blog Content -->
                    <div class="col-lg-8 col-xl-8 mb-5">
                        <h3 style="margin-top: 10px;" class="animated fadeInUp">{{ blog.name }}</h3>
                        <p class="text-muted animated fadeInUp mb-3" style="font-size: 0.9rem;">{{ blog.created_date|date:"F j, Y" }}</p>
                        <figure class="figure mb-4">
                            <img class="img-fluid animated fadeInUp" src="{{ blog.image.url }}" alt="{{ blog.name }}" />
                        </figure>
                        <p class="animated fadeInUp">{{ blog.description|safe }}</p>
                    </div>
        
                    <!-- Recent Posts Section -->
                    <div class="col-lg-4 col-xl-4">
                        <h4 style="margin-top: 10px;" class="mb-4">Recent Posts</h4>
                        <ul class="list-unstyled recent-posts">
                            {% for recent_post in recent_posts %}
                            <li class="mb-4 d-flex align-items-center">
                                <a href="{% url 'blog_details' recent_post.id %}" class="d-flex text-dark text-decoration-none">
                                    <img src="{{ recent_post.image.url }}" alt="{{ recent_post.name }}" class="mr-3" style="object-fit: cover; border-radius: 5px; width: 60px; height: 50px; margin-right: 20px;">
                                    <div>
                                        <h6 class="mb-1 text-dark">{{ recent_post.name }}</h6>
                                        <small class="text-muted">{{ recent_post.created_date|date:"F j, Y" }}</small>
                                    </div>
                                </a>
                            </li>
                            {% empty %}
                            <li>No recent posts available.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <style>
            .section-intro {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.section-intro .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.section-intro h1 {
    font-size: 3rem;
    z-index: 2;
}

.intro-description {
    font-size: 1.2rem;
    z-index: 2;
}

.recent-posts li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.recent-posts li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.recent-posts img {
    object-fit: cover;
    border-radius: 5px;
    width: 60px;
    height: 95px;
}

        </style>
        
       
        
{% endblock %}
