{% extends 'base.html' %}
{% load static %}
{% block title %}Top Kerala Tour Packages: Discover Must-See Destinations{% endblock %}
{% block meta_description %}
<meta content="Grab our Kerala visit package to see the best places!  Discover backwaters, hill stations, and more.  Make a dream Kerala tour booking with Kerala Tours Planner!" name="description">
{% endblock %}
{% block content %}


        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">DESTINATIONS</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                    <li class="breadcrumb-item active " style="color: #b1a4a4;">Destinations</li>
                </ol>    
            </div>
        </div>



 <!-- Destination Start -->
 <div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Destination</h5>
            <h1 class="mb-0">Popular Destination</h1>
        </div>
        
        <!-- District Tabs -->
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
                <li class="nav-item">
                    <a class="d-flex mx-3 py-2 border  bg-light rounded-pill active" style="border-color: black;" 
                       data-bs-toggle="pill" href="#tab-all">
                        <span class="text-dark" style="width: 150px;">All</span>
                    </a>
                </li>
                {% for district in districts %}
                <li class="nav-item">
                    <a class="d-flex mx-3 py-2 border  bg-light rounded-pill" style="border-color: black;"
                       data-bs-toggle="pill" href="#tab-{{ district.id }}">
                        <span class="text-dark" style="width: 150px;">{{ district.name }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>

            <!-- Tab Content -->
            <div class="tab-content">
                <!-- All Destinations -->
                <div id="tab-all" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% for district in districts %}
                            {% for destination in district.destinations.all %}
                            <div class="col-lg-4 col-md-6">
                                <div class="destination-img" style="height: 300px;">
                                    <img class="img-fluid rounded" src="{{ destination.image.url }}" style="height: 300px;" alt="{{ destination.name }}">
                                    <div class="destination-overlay p-4" style="background: rgba(8, 58, 23, 0.6);">
                                        <h4 class="text-white mb-2">{{ destination.name }}</h4>
                                        <a href="{% url 'destination_details' destination.id %}" class="rounded-pill text-white">
                                            View Details
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>

                <!-- District-Specific Destinations -->
                {% for district in districts %}
                <div id="tab-{{ district.id }}" class="tab-pane fade p-0">
                    <div class="row g-4">
                        {% for destination in district.destinations.all %}
                        <div class="col-lg-4 col-md-6">
                            <div class="destination-img" style="height: 300px;">
                                <img class="img-fluid rounded w-100" src="{{ destination.image.url }}" style="height: 300px;" alt="{{ destination.name }}">
                                <div class="destination-overlay p-4 " style="background: rgba(8, 58, 23, 0.6);">
                                    <h4 class="text-white mb-2">{{ destination.name }}</h4>
                                    <a href="{% url 'destination_details' destination.id %}" class="rounded-pill text-white">
                                        View Details
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No destinations available for {{ district.name }}.</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Destination End -->
</div>

{% endblock %}
