{% extends 'base.html' %}
{% load static %}
{% block title %}Kerala Tour Packages for Couples – Travel Gallery | Athidhi Holidays{% endblock %}
{% block meta_description %}
<meta content="Enjoy our Kerala trip package for couples to find magical moment. Visit serene beache & romantic houseboat. Now is the best moment to plan a dream journey!" name="description">
{% endblock %}
{% block content %}


        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">GALLERY</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                    <li class="breadcrumb-item active " style="color: #b1a4a4;">Gallery</li>
                </ol>    
            </div>
        </div>


        <div class="container-fluid gallery py-5 my-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Our Gallery</h5>
                <h1 class="mb-4">Tourism & Traveling Gallery</h1>
            </div>
        
            <div class="tab-class text-center">
                <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
                    <li class="nav-item">
                        <a class="d-flex mx-3 py-2 border  bg-light rounded-pill active " style="border-color: black;"data-bs-toggle="pill" href="#GalleryTab-1">
                            <span class="text-dark" style="width: 150px;">All</span>
                        </a>
                    </li>
                    {% for folder in folders %}
                    <li class="nav-item">
                        <a class="d-flex mx-3 py-2 border bg-light rounded-pill " style="border-color: black;" data-bs-toggle="pill" href="#GalleryTab-{{ folder.id }}">
                            <span class="text-dark" style="width: 150px;">{{ folder.name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
        
                <div class="tab-content">
                    <!-- Tab for All -->
                    <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-2">
                            {% for image in all_images %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                                <div class="gallery-item h-100" style="300px">
                                    <img src="{{ image.image.url }}" class="img-fluid w-100 h-100 rounded" alt="Image">
                                    <div class="gallery-content">
                                        <div class="gallery-info">
                                            <h5 class="text-white text-uppercase mb-2">{{ image.gallery.folder.name }}</h5>
                                            <!-- <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a> -->
                                        </div>
                                    </div>
                                    <div class="gallery-plus-icon">
                                        <a href="{{ image.image.url }}" data-lightbox="gallery-all" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
        
                    <!-- Tabs for Individual Folders -->
                    {% for folder in folders %}
                    <div id="GalleryTab-{{ folder.id }}" class="tab-pane fade p-0">
                        <div class="row g-2">
                            {% for gallery in folder.galleries.all %}
                            {% for image in gallery.images.all %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                                <div class="gallery-item h-100">
                                    <img src="{{ image.image.url }}" class="img-fluid w-100 h-100 rounded" alt="Image">
                                    <div class="gallery-content">
                                        <div class="gallery-info">
                                            <h5 class="text-white text-uppercase mb-2">{{ gallery.folder.name }}</h5>
                                            <!-- <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a> -->
                                        </div>
                                    </div>
                                    <div class="gallery-plus-icon">
                                        <a href="{{ image.image.url }}" data-lightbox="gallery-{{ folder.id }}" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
{% endblock %}
