{% extends 'base.html' %}
{% load static %}
{% block title %}{{ package.name }} Details{% endblock %}
{% block content %}


        <div class="container-fluid" 
        style="background: linear-gradient(rgba(23, 23, 24, 0.5), rgba(23, 23, 24, 0.5)), 
               url('{{ package.image.url }}');
               background-position: center center;
               background-repeat: no-repeat;
               background-size: cover;
               background-attachment: fixed;
               padding: 150px 0 50px;">

   
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">{{ package.name }}</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a  style="color: #fff!important;" href="{% url 'index' %}">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                    <li class="breadcrumb-item active " style="color: #b1a4a4;">{{ package.name }} Details</li>
                </ol>    
            </div>
        </div>



        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5  text-lg-start">
                    <!-- Image Section -->
                    <div class="col-12 col-lg-5 order-lg-1">
                        <div class="h-100">
                            <img style="object-fit: cover;" src="{{ package.image.url }}" class="img-fluid rounded shadow-lg" alt="{{ package.name }}">
                        </div>
                    </div>
                    
                    <!-- Description Section -->
                    <div class="col-12 col-lg-6 order-lg-2">
                        <h1 class="mb-4">{{ package.name }}</h1>
                        <p class="mb-4">{{ package.description|safe }}</p>
                        <a class="btn  rounded-pill py-3 px-5" style="background:linear-gradient(560deg, #022d1e, #013d28, #024c34); border-color: black; color: #fff;" href="https://wa.me/919446766322">Enquire Now</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        
       
        
{% endblock %}
